@media screen and (max-width: 768px) {
    .container{
        width: 100%;
        margin: 0 auto;
    }
    .espaciador{
        margin-top: 0px;
    }
}
@media screen and (min-width: 769px) {
    .container{
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
    }
    .espaciador{
        margin-top: 60px;
    }
}